<%- include('layouts/header') %>
<%- include('layouts/navbar') %>

<div class="container mt-5">
    <h1><%= item.name %></h1>
    <p><%= item.description %></p>
    <p>Giá: <%= item.price %></p>

    <% if(item.hot) { %>
        <p style="color:red;">🔥 Hot</p>
    <% } %>
</div>

<%- include('layouts/footer') %>